@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Macondo+Swash+Caps&family=Mate+SC&display=swap');

a{
  text-decoration: none;
}

.main-footer{
  color: rgb(223, 181, 126);
  background-color: rgb(48, 47, 47);
  position: sticky;
  top: 100%;
  bottom: 100%;
}

h3{
  font-family: 'Handlee', cursive;
}

.copyright{
  font-family: 'Mate SC', serif;
}

.row{
  display: flex;
  justify-content: space-around;
}

@media (max-width: 450px){
  .main-footer{
    padding: 10px;
  }
}